@import "tailwindcss";

/******************GLOBAL VARIABLES***********************/

:root {
  --primary: #077283;
  --primary-dark: #055663;
  --secondary: #655491;
  --black: #000000;
  --white: #ffffff;
  --light-gray: #F7F7F7;
  --dark-gray: #46454B;
  --border: #ddd;
  --border-gray: #E8E8E8;
  --trans: rgba(0, 0, 0, 0);
  --font-outfit: 'Outfit', sans-serif;
  --font-josefin-sans: 'Josefin sans', sans-serif;
  --font-forum: 'forum', sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-border: var(--border);
  --color-loader: var(--border);
  --color-border-gray: var(--border-gray);
  --color-trans: var(--trans);
  --font-outfit: var(--font-outfit);
  --font-josefin-sans: var(--font-josefin-sans);
  --font-forum: var(--font-forum);
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/******************GLOBAL VARIABLES***********************/


/******************GLOBAL COMPONENTS***********************/

@layer components {
    .btn {
    @apply inline-block border-border border font-normal font-outfit uppercase text-[13px] leading-none px-7 py-3 transition-all duration-200 ease-in-out;
  }
  .btn.btn-primary {
    @apply bg-primary text-white border-primary;
  }
  .btn.btn-primary:hover {
    @apply bg-primary-dark text-white border-primary-dark;
  }
  .btn.btn-primary-outline {
    @apply bg-trans text-primary border-primary;
  }
  .btn.btn-primary-outline:hover {
    @apply bg-primary-dark text-white border-primary-dark;
  }
  .btn.btn-secondary {
    @apply bg-secondary text-white border-secondary;
  }
  .btn.btn-secondary-outline {
    @apply bg-trans text-secondary border-secondary;
  }
  .btn.btn-secondary-outline:hover {
    @apply bg-secondary text-white;
  }
  .btn.btn-black {
    @apply bg-black text-white border-black;
  }
  .btn.btn-white {
    @apply bg-white text-black border-white;
  }
  
  .btn.btn-white-outline {
    @apply bg-trans text-white border-white;
  }
  
  .btn.btn-white-outline:hover {
    @apply bg-white text-black;
  }

  .btn-none{
    @apply bg-trans text-inherit shadow-none border-none p-0 m-0;
  }

  .container {
    @apply mx-auto max-w-full;
  }
  .container-extended {
    @apply mx-auto max-w-full;
  }

  .sub-heading{
    @apply text-[20px] font-medium;
  }

  .font-bold{
    font-weight: 700 !important;
  }
  .container, .container-extended{
    padding-inline: calc(16px + var(--container-ext, 0px));
  }
  body .container {
    @media(min-width: 500px) {
      max-width: calc(90% + var(--container-ext, 0px)) !important;
    }
    @media(min-width: 1300px) {
      max-width: calc(1202px + var(--container-ext, 0px)) !important;
    }
  }
  body .container-extended {
    @media(min-width: 500px) {
      max-width: 100% !important;
    }
    @media(min-width: 1200px) {
      max-width: 1320px !important;
    }
  }
  h1, h2, h3, h4,.h1, .h2, .h3, .h4{
    @apply uppercase;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    @apply font-forum font-normal;
  }

}

@layer base {
  p{
    margin-bottom: 1rem;
  }
  
  h1, .h1{
      font-size: 64px;
      line-height: 1;
  }

  h2, .h2{
      font-size: 48px;
      line-height: 1.2;
  }

  h3, .h3{
      font-size: 36px;
      line-height: 1.2;
  }

  h4, .h4{
      font-size: 24px;
      line-height: 1.2;
  }

  h5, .h5{
      font-size: 20px;
      line-height: 1.2;
  }
  button{
    cursor: pointer;
  }

  @media(max-width: 767px){
    h1, .h1{
      font-size: 42px;
    }

    h2, .h2{
        font-size: 32px;
    }

    h3, .h3{
        font-size: 28px;
    }

    h4, .h4{
        font-size: 20px;
    }

    h5, .h5{
        font-size: 16px;
    }
  }
}


/******************GLOBAL COMPONENTS***********************/

input[type="radio"], 
input[type="checkbox"], select {
  cursor: pointer;
}
input[type="radio"], input[type="checkbox"].radio-ui {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    flex: 0 0 auto;
}

input[type="checkbox"]{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    flex: 0 0 auto;
}

input[type="radio"]:checked, input[type="checkbox"].radio-ui:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23077283'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: transparent;
  border-color: var(--primary);
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4104 0L4.29621 5.68888L1.71047 2.92133L0 4.52888L4.17736 9L12 1.72821L10.4104 0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  background-color: var(--primary);
  border-color: var(--primary);
}

strong, b {
  font-weight: bold;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
}
ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-bottom: 10px;
}
.two-line-ellipsis {
  display: -webkit-box;           /* Required for line-clamp */
  -webkit-line-clamp: 2;          /* Specifies the number of lines */
  -webkit-box-orient: vertical;   /* Required for line-clamp */
  overflow: hidden;               /* Hides the text that exceeds 2 lines */
}
.hero-banner .swiper-button-prev, .hero-banner .swiper-button-next{
  --swiper-navigation-sides-offset: 20px;
  --swiper-navigation-size: 40px;
  --swiper-navigation-color: #fff;
}
.hero-banner .swiper-button-prev:hover, .hero-banner .swiper-button-next:hover {
    background-color: #fff;
    --swiper-navigation-color: #000;
}
.swiper-pagination {
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
    --swiper-pagination-bullet-border-radius: 20px;
    --swiper-pagination-color: var(--primary);
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: 20px;
}

.mainSwiper .swiper-button-prev, .mainSwiper .swiper-button-next {
    --swiper-navigation-sides-offset: 20px;
    --swiper-navigation-size: 40px;
    --swiper-navigation-color: #fff;
}
.mainSwiper .swiper-button-prev:hover, .mainSwiper .swiper-button-next:hover {
    --swiper-navigation-color: #000;
    background-color: #fff;
}